{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Calculator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static  'erp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  'erp/css/style.css' %}"> 
</head>
<body>

{% block content %}
{% endblock  %}
</body>
</html>
<script src="{% static 'erp/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'erp/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'erp/js/Chart.min.js' %}"></script>
<script src="{% static 'erp/js/main.js' %}"></script>
<script src="{% static 'formbuilder/jquery-ui.min.js' %}"></script>
