{% extends "news/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<h2>Calculator</h2>            
	<table class="table">
		<form  method="POST" action=".">{% csrf_token %}
			<input type="text" name="valueof" value="{{ b }}{{ a }}"/>
			<p><input type="submit" name="1" value="1">
				<input type="submit" name="2" value="2">
				<input type="submit" name="3" value="3" /></p>
				<p>
					<input type="submit" name="4" value="4">
					<input type="submit" name="5" value="5">
					<input type="submit" name="6" value="6" />
				</p>
				<p>
					<input type="submit" name="7" value="7">
					<input type="submit" name="8" value="8">
					<input type="submit" name="9" value="9" />
				</p>
				<p><input type="submit" name="0" value="0" />
					<input type="submit" name="+" value="+" />
					<input type="submit" name="*" value="*" />
				</p>
				<input type="submit" name="-" value="-" />
				<input type="submit" name="/" value="/" />
				<input type="submit" id="result" name="=" value="=" />
				<input type="submit" name="clear" value="AC" />

			</form>
		</table>
	</div>
</body>
</table>
<div class="col-12 col-xl-4 col-3-xxxl" id="graph">
                        <div class="card dashboard-card-two pd-b-20">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <h3>Expenses</h3>
                                    </div>
                                </div>
                                <div class="expense-report">
                                    <div class="monthly-expense pseudo-bg-Aquamarine">
                                        <div class="expense-date">Jan 2019</div>
                                        <div class="expense-amount"><span>$</span> {{b}}</div>
                                    </div>
                                    <div class="monthly-expense pseudo-bg-blue">
                                        <div class="expense-date">Feb 2019</div>
                                        <div class="expense-amount"><span>$</span> {{b}}</div>
                                    </div>
                                    <div class="monthly-expense pseudo-bg-yellow">
                                        <div class="expense-date">Mar 2019</div>
                                        <div class="expense-amount"><span>$</span> {{b}}</div>
                                    </div>
                                </div>
                                <div class="expense-chart-wrap">
                                    <canvas id="expense-bar-chart1" width="100" height="300"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
<script src="{% static 'erp/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
	 $(document).ready(function(){
	    if ($("#expense-bar-chart1").length) {
		var total = {{b}}
      var barChartData = {
        labels: ["Jan", "Feb", "Mar"],
        datasets: [{
          backgroundColor: ["#40dfcd", "#417dfc", "#ffaa01"],
          data: [total, total, total, total, total],
          label: "Expenses (millions)"
        }, ]
      };
      var barChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        animation: {
          duration: 2000
        },
        scales: {

          xAxes: [{
            display: false,
            maxBarThickness: 100,
            ticks: {
              display: false,
              padding: 0,
              fontColor: "#646464",
              fontSize: 14,
            },
            gridLines: {
              display: true,
              color: '#e1e1e1',
            }
          }],
          yAxes: [{
            display: true,
            ticks: {
              display: true,
              autoSkip: false,
              fontColor: "#646464",
              fontSize: 14,
              stepSize: 100,
              padding: 20,
              beginAtZero: true,
              callback: function (value) {
                var ranges = [{
                    divider: 1e6,
                    suffix: 'M'
                  },
                  {
                    divider: 1e3,
                    suffix: 'k'
                  }
                ];

                function formatNumber(n) {
                  for (var i = 0; i < ranges.length; i++) {
                    if (n >= ranges[i].divider) {
                      return (n / ranges[i].divider).toString() + ranges[i].suffix;
                    }
                  }
                  return n;
                }
                return formatNumber(value);
              }
            },
            gridLines: {
              display: true,
              drawBorder: true,
              color: '#e1e1e1',
              zeroLineColor: '#e1e1e1'

            }
          }]
        },
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        },
        elements: {}
      };
      var expenseCanvas = $("#expense-bar-chart1").get(0).getContext("2d");
      var expenseChart = new Chart(expenseCanvas, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
      });
    }
});

</script>
{% endblock %}
