{% extends "base.html" %}
{% block content %}
<h2>News Lister</h2>
<form method="get">
	<input type="text" name="news">
	<button type="submit">search</button>
</form>
{% if search_result %}
<div class="container">         
		{% if search_result.response.results %}
		<table class="table">
		<thead>
			<tr>
				<th>Web Title</th>
				<th>Pillar Id</th>
				<th>Pillar Name</th>
			</tr>
		</thead>
			{% for i in search_result.response.results %}
			<tbody>
				<tr>
					<td><a href="{{i.webUrl}}">{{i.webTitle}}</a></td>
					<td>{{i.pillarId}}</td>
			<td>{{i.pillarName}}</td>
				</tr>
			</tbody>
			{% endfor%}
		{% else %}
			<p>No data found</p>
		{% endif %}
	</table>
	{% if search_result %}
  <ul class="pagination">
    {% for i in list %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
  </ul>
	{% endif %}
</div>
{% endif %}
{% endblock %}